<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kno U Kno</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>404 - 
    <span>Sorry!</span>
    </h1>
        </br>
        <h1>We can't seem to find the resource you're looking for.
        Please check that the Web site address is spelled correctly.
        </br>
        Or go to our <a href="index.html">home page</a>, and use the menus to navigate to a specific section.
    </h1>    
  </body>
</html>
